.main-div {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}

.text-div {
    text-align: center;
    width: 30%;
    padding: 20px;
}

@media (max-width:1100px) {
    .main-div {
        display: flex;
        flex-direction: column;
        color: white;
        align-items:center;
    }
    .text-div {
        text-align: center;
        width: 70%;
        padding: 20px;
    }
}

.accent{
    color: crimson;
    font-weight: bold;
}
.puzzle-pieces-svg {
    fill: rgb(255, 255, 255,0.3);
    height: 80%;
    max-height: 800px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.img-found{
    width: 250px;
}

.puzzle-closed {
    fill: rgb(255, 255, 255,0.3);
}


.puzzle-closed:hover {
    fill: #ff7054;
}

.puzzle-open{
    fill: whitesmoke;
}
.puzzle-open:hover {
    fill: #99eb6b;
}
